__pycache__/
sphinx/_build/
*.py[cod]
*.swp
dist/
sdist/
env/
build/
develop-eggs/
eggs/
*.egg-info/
.installed.cfg
*.egg
*.deb
*.dsc
*.build
*.changes
*.orig.*
testing/
MANIFEST
.idea
pip-log.txt
pip-delete-this-directory.txt
library/test/scrollphat/
library/debian/
packaging/*tar.xz
.DS_Store
sphinx.virtualenv
