pillow
requests
beautifulsoup4
fonts
font-source-sans-pro
font-source-serif-pro
font-fredoka-one
font-hanken-grotesk
font-intuitive
geocoder
pandas==2.2.3  # avoid 2.3.0 with no piwheels wheel
seaborn
wikiquotes
